* {
    padding: 0px;
    margin: 0px;
}

html,
body {
    height: 100vh;
}

button {
    cursor: pointer;
}

#high-score,
#latest-score {
    cursor: auto;
}

.game-box {
    background: black;
    border-radius: 50%;
    width: 300px;
    height: 300px;
}

.buttons {
    border: 10px solid black;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.center {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.between {
    display: flex;
    justify-content: space-between;
}

#start {
    background-color: red;
}

#start,
#high-score,
#latest-score {
    padding: 2px;
    margin: 0px 2px;
    border-radius: 1px;
    font-family: "Orbitron";
}

#red {
    background-color: #e74c3c;
}

#blue {
    background-color: #3498db;
}

#green {
    background-color: #2ecc71;
}

#yellow {
    background-color: #f1c40f;
}
